@media (min-width:1024px) {
  .container {
    display: flex;
    flex-direction:row;
    width: 60%;
    height: 70%;
    margin: auto;
    box-sizing: border-box;
    border-radius:1.9rem;
  }
 
  .valores {
    display: flex;
    margin: auto;
    padding:1rem;
    width: 38%;
    height: 80%;
    max-height: 80%;
    min-width: 55%;
    box-sizing: border-box;
    background-color: black;
  }

  .valores.result{
    background-color:var(--Verydarkcyan);
    text-align: left;
    width: 28%;
    height: 90%;
    max-height: 80%;
    min-width: 35%;
    border-radius: 1rem;
    padding: 2rem;
  }

  .porcentagem {
    /*
    display:flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    flex-wrap: wrap;
    gap: 0rem;
*/
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
  }


  .valor{
    display:flex;
    background: var(--Verydarkcyan);
    height: 80%;
    width:  70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding:0.3rem 3rem;
    color: var(--White);
    font-size: 24px;
    margin-right: 4%;
  }

  input.custom {
    width: 70%;
    height: 84%;
    font-size: 24px;
  }

  input {
    width: 90%;
    padding: 1rem ;

  }
  input.custom[type="number"] {
    width: 40%;
    height:59%;
  }
  .title {
    font-size: 1.3rem;
  }
}