input {
  border: none;
  width: 79%;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  background-color: var(--VeryLighthGrayishcyan);
  color: var(--Verydarkcyan);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
}
input:hover{
  cursor:pointer;

}
input:focus{
  border: 1px solid var(--LightGrayishCyan);

}
input.dollar {
  background-image: url(../images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 2% 50%;
  
}

input.person {
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 2% 50%;
}