.valores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding:1rem;
  width: 85%;
  max-height: 70%;
  min-width: 80%;
  align-items: left;
}

.valores.result{
  background-color:var(--Verydarkcyan);
  text-align: left;
  width: 78%;
  max-height: 70%;
  min-width: 78%;
  border-radius: 1rem;
  padding: 2rem;
}
.valores.result h1{
  color: var(--White)
}
.porcentagem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  
  /*
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  flex-wrap: wrap;
  gap: 0.2rem;*/
}

.valor{
  background: var(--Verydarkcyan);
  color: white;
  border-radius: 5px;
  font-size: 2.5rem;
  outline: none;
  cursor: pointer;

  /*
  display:flex;
  background: var(--Verydarkcyan);
  height: 25%;
  width:  20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding:0.3rem 3rem;
  color: var(--White);
  font-size: 24px;
  margin-right: 4%;
  */
}
.valor:hover {
  cursor: pointer;
  background-color: var(--StrongCyan);
  color: var(--Verydarkcyan);
}
.valor:active {
  background-color: var(--StrongCyan);
  color: var(--Verydarkcyan);
}

.custom {
  display:flex;
  align-items: center;
  justify-content: center;
  background: var(--VeryLighthGrayishcyan);
  color: var(--GrayishCyan);
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  font-size: 24px;
}
.custom:hover {
  cursor: pointer;
  background: var(--VeryLighthGrayishcyan);
}
.dollar.resu{
  display: flex;
  align-items:center;
  justify-content:space-between;
  width: 50%;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  text-align:center;
  align-self: center;
  color: var(--StrongCyan);
  font-size: 400%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  /*
  background-image: url(../images/icon-dollar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.8rem;


*/






 
}


.dollar.resu::before {
  content:url(../images/icon-dollar.svg);
  
}











/*










.valor label {
  display: flex;
  height: 111.3%;
  width:  100%;
  justify-content:center;
  align-items:center;
  background-color: rgb(245, 5, 5);
}

.valor label span {
  z-index: 1;
  
}
.valor label input[type=radio] {
  display: flex;
  all:inherit;
  height: 5%;
  width:15%;
  background-color: rgb(245, 5, 5);
  justify-content:center;
  align-items:center;
  z-index: 1;
  position: absolute;
}
.valor label input[type=radio]:checked {
  background-color: var(--StrongCyan);
}
.valor label input[type=radio]:checked + span{
  color:  rgb(12, 8, 8);
}









*/



#scales{
  display: none;
}

.checbox-label {
  display:flex;
  align-items: center;
  font-size: 24px;

  cursor: pointer;
}

#scales:checked{
  color: rgb(3, 3, 3);
}
/*
.checbox-label::before {
  content: " ";
  display: block;
  height: 3rem;
  width: 3rem;
  box-sizing: border-box;
  border-radius:2px solid;
  background-color: red;
}*/
